---
const { title, description, image } = Astro.props
const domain = `${Astro.site.protocol}://${Astro.site.host}`
const img = image ?? domain + '/social.jpg'
const url = domain + Astro.url.pathname
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.light.ico" media="(prefers-color-scheme: light)" />
  <link rel="icon" type="image/svg+xml" href="/favicon.dark.ico" media="(prefers-color-scheme: dark)" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest">

  <meta name="viewport" content="width=device-width" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

  <title>{title}</title>
  <meta name="description" content={description}>

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={img} />

  <!-- OpenGraph -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={url} />
  <meta property="og:image" content={img} />
</head>
